@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}


body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
  overflow-y: auto;
}
  
#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 800px ;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;

}

.Home, .NewPost, .PostPage, .About, .Missing {
  width: 100%;  
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

form {
  padding: 5px;
  position: sticky;  
}

button {
  width: auto;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
}

button.selected {
  background-color: #000;
  color: #fff;
}

ul {
  padding: 3rem 2rem 1rem;
  overflow-y: auto;
}

li {
  margin-bottom: 1rem;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  padding-top: 52px;
  font-size: small;
}

td {
  border: 1px solid #000;
  padding: 0.25rem; 
}

.newPostForm {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type='text'], 
.newPostForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 40px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.newPostForm textarea {
  height: 100%;
}

.newPostForm button {
  margin-top: 1rem;
  height: 40px;
  min-width: 40px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.searchForm {
  width: 100%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 40px;
  font-size: 0.85rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}
.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  
}

.Nav li {
  padding: 0.5rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
  padding: 15px;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}

.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Missing p, .PostPage p, .NewPost p {
  margin-top: 1rem;
}

.Home .post a {
  text-decoration: none;
}

.Home .post a, 
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postDate {
  font-size: 0.65rem;
  margin-top: 0.25rem;
}

.postBody {
  margin: 1rem 0;
}


.PostPage button {
  height: 40px;
  min-width: 40px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.85rem;
  color: #fff;
  cursor: pointer;
}

.deleteButton {
  background-color: red;  
}
.editButton {
  background-color: red;  
}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 16px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .Nav ul {
    text-align: center;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 100%;
    padding: .5rem 0;
  }
 
  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newPostForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {

  /* .Header svg {
    font-size: 3rem;
  } */

}